.menu {
  background-color: #d2b48c;
  margin-bottom: 0px;

}
.texto-marron{
  color: #666;
}

.banner{
  background-color: #6c534f;
  color: #fff;
  padding: 1.4%;
  margin-bottom: 4%;
  margin-top: 0%;
}
.texto {

  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  text-shadow:2px 2px 2px rgba(0, 0, 0, .45);
	font-family: 'Roboto-Black';
}

.texto-p {
  color: #fff;
}
.texto-central {
  text-align: center;
}
#logotipo {
  float: left;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 2%;
  top: 3%;
}


.painel-int{
  position: absolute;
  bottom: 0px;
  width: 100%;
  border: 0px;
  border-top: 10px;
  border-color: #6c534f;
  border-style: solid;
  padding-top: 1.5%;
  padding-bottom: 1%;
}


.colado{
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 992px) {
  .texto-p {
    font-size: 30px;
  }
  .texto-g {
    font-size: 55px;
  }
}
