.menu {
  background-color: #d2b48c;
  margin-bottom: 0px;

}
.texto-marron{
  color: #666;
}

.banner{
  background-color: #6c534f;
  color: #fff;
  padding: 1.4%;
  margin-bottom: 4%;
  margin-top: 0%;
}
.texto {

  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  text-shadow:2px 2px 2px rgba(0, 0, 0, .45);
	font-family: 'Roboto-Black';
}


.texto-p {
  color: #fff;
}
.texto-central {
  text-align: center;
}
#logotipo {
  float: left;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 2%;
  top: 3%;
}
.painel-int{
  position: fixed;
  bottom: 0px;
  width: 100%;
  border: 0px;
  border-top: 10px;
  border-color: #6c534f;

	border-style: solid;
  padding-top: 1.5%;
  padding-bottom: 1%;
}
.container{
  width: 80%;
  background-color: #fff;
  text-align: left;
  border-radius: 3px;
  margin-top: 132px;
}
.container img{
  border-radius: 7px 7px 7px 7px;
  width: 100%;
  padding: 5px;
  border: 1px solid #d2b48c;
  border-radius: 7pt;
  background: #6c534f;
}
.container h3{
  color: #6c534f;
  font-size: relative;
}
.colado{
  margin: 0px;
  padding: 0px;
}
.cad1{
  margin-top: -80px;
}
.cad2{
  margin-top: 10px;
}
.cad3{
  margin-top: 30px;
}
.container a:active {
  text-decoration: none;
}
.container a:visited {
  text-decoration: none; color: #000099
}
.container a:hover {
  text-decoration: underline;color: #000099
}
.container a:link {
  text-decoration: none;color: #000099
}
.container a:hover{
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .texto-p {
    font-size: 30px;
  }
  .texto-g {
    font-size: 55px;
  }
}
